content {
    column-count: 2;
}
a:hover {
    text-decoration: underline;
}
* {
    font-size: 20px
}
#name {
    margin-bottom:15px;
    background:darkblue;
    border-style:double;
    color:white;
    font-size:40px;
    text-align:center;
}
h1 {
    border-radius:25px;
    font-size:30px;
    color:white;
    background:blue;
    margin-top:15px;
    margin-bottom:15px;
    text-align:center;
}
h2 {
    color:darkblue;
}
p {
    margin:5px;
}
ul {
    margin:0px;
}
#content {
    column-count: 2;
}
table {
    width:100%;
    font-weight:bold;
    border-collapse: collapse;
}
td, th {
    border: 1px solid darkblue;
    padding: 8px;
}
td {
    font-weight: normal;
}
th {
    background-color: #aaaaff;
    font-weight:bold;
}
table.column-heading th {
    text-align: left;
}
#about h1 {
    margin-top: 0;  /* This is so that things line up properly */
}
